{
  "semi": true,
  "singleQuote": false,
  "endOfLine": "lf",

  "importOrder": [
    "^@apis/(.*)$",
    "^@assets/(.*)$",
    "^@components/(.*)$",
    "^@constants/(.*)$",
    "^@hooks/(.*)$",
    "^@pages/(.*)$",
    "^@types/(.*)$",
    "^@utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
